header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--color-primary);
  flex-direction: column-reverse;
}

header ul {
  list-style: none;
  padding: 0px;
}

.header-container {
  display: flex;
}

.header-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-content__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.header-content__info h1 {
  font-size: 36px;
  margin-bottom: 16px;
}

.header-content_info h4 {
  font-size: 20px;
}

.header-content__info p {
  font-size: 12px;
  font-weight: 600;
}

.header-content__info p:last-of-type {
  margin-top: 8px;
}

.header-photo {
  width: 200px;
  height: 242px;
}

.header-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-content__social,
.header-content__menu {
  display: flex;
  gap: 20px;
  margin: 12px 0px;
}

.header-content__social a svg path {
  stroke: var(--color-icon-header-default);
}

.header-content__social a:hover svg path {
  stroke: var(--color-icon-header-hover);
}

.header-content__menu a {
  text-decoration: none;
  color: var(--color-text);
}

.header-content__menu a:hover {
  text-decoration: underline;
}

@media (min-width: 668px) {
  header {
    flex-direction: row;
  }
  .header-content {
    flex-direction: row;
  }
  .header-content__info {
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }
}
