.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.btn-dark {
  width: 100%;
  min-height: 2em;
  background-color: #292b2c;
  color: #fff;
  box-shadow: 0.18em 0.18em #0275d8;
}

.btn-light {
  width: 100%;
  min-height: 2em;
  background-color: #fff;
  color: #292b2c;
  box-shadow: 0.18em 0.18em #0275d8;
}

.btn-dark:hover,
.btn-light:hover {
  transform: translate(-0.15em, -0.15em);
  box-shadow: 0.3em 0.3em #0275d8;
}
