.footer {
  width: 100%;
  background-color: #292b2c;
}

.footer ul {
  padding: 0px;
  list-style: none;
}

.footer > .container {
  display: flex;
  justify-content: center;
}

.footer-contact__social {
  display: flex;
  gap: 20px;
}

.footer-contact__social svg path {
  stroke: #d9d9d9;
}

.footer-contact__social a:hover svg path {
  stroke: #9a9898;
}

@media(min-width: 768px) {
    .footer > .container {
        justify-content: flex-end
    }
}
