<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/styles/reset.css' | url }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/styles/style.css' | url }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/styles/header.css' | url }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/styles/footer.css' | url }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/styles/button.css' | url }}"
    />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-container">
          <div class="header-container__info">
            <div>
              <h1>Everton Nunes</h1>
              <h4>Software Engineer</h4>
              <p>he/his/him</p>
              <p>everton.nunes@proton.me</p>
            </div>
            <ul class="header-container__social">
              <li>
                <a target="_blank" href="/">
                  {% svgIcon 'src/assets/download.svg' %}
                </a>
              </li>
              <li>
                <a target="_blank" href="https://github.com/pepoeverton">
                  {% svgIcon 'src/assets/github.svg' %}
                </a>
              </li>
              <li>
                <a target="_blank" href="https://twitter.com/pepoeverton">
                  {% svgIcon 'src/assets/twitter.svg' %}
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/everton-ribeiro-nunes"
                >
                  {% svgIcon 'src/assets/linkedin.svg' %}
                </a>
              </li>
            </ul>
            <ul class="header-container__menu">
              <li>
                <a href="/"> About </a>
              </li>
              {# <li>
                <a href="/projects"> Projects </a>
              </li> #}
              <li>
                <a href="/setup"> Setup </a>
              </li>
              {# <li>
                <a href="/photos"> Photos </a>
              </li> #}
            </ul>
          </div>
          <figure class="header-photo">
            <img
              src="https://pbs.twimg.com/profile_images/1538542889327808512/nl9CDq7G_400x400.jpg"
              alt="me"
            />
          </figure>
        </div>
      </div>
      <div></div>
    </header>
    <main>
      <article>
        <section class="container text-container">
          {{ content | safe }}
        </section>
      </article>
    </main>
    <footer class="footer">
      <div class="footer-contact container">
        <ul class="footer-contact__social">
          <li>
            <a target="_blank" href="https://github.com/pepoeverton">
              {% svgIcon 'src/assets/github.svg' %}
            </a>
          </li>
          <li>
            <a target="_blank" href="https://twitter.com/pepoeverton">
              {% svgIcon 'src/assets/twitter.svg' %}
            </a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.linkedin.com/in/everton-ribeiro-nunes"
            >
              {% svgIcon 'src/assets/linkedin.svg' %}
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
